.h2 {
    font-weight: 500;
}
.text-cont {
    max-width: 710px;
    width: 100%;
}
.quote {
    font-size: 99px;
}
.quote-text {
    font-weight: 200;
}
.divider {
    content: " ";
    width: 50px;
    height: 3px;
}
.montserrat {
    font-family: Montserrat, sans-serif;
}
.box-text {
    font-weight: 200;
}